﻿<h1>Retrieve Locations</h1>

<input type="text" id="specifiedLocation" />
<button id="getLocations">Get Locations</button>
<br />
<div id="results">

</div>

<script>
    $(document).ready(function () {
        $("#getLocations").click(function () {
            $("#results").empty();
            $.ajax({
                type: "GET",
                url: "/api/Images/GetLocations",
                data: { location: $("#specifiedLocation").val() },
                contentType: "application/json; charset=utf-8",
                crossDomain: true,
                dataType: "json",
                success: function (data, status) {
                    $("#results").append("<ul></ul>");
                    var locationIds = [];
                    for (var i = 0; i < data.length; i++) {
                        locationIds[i] = data[i].Id;
                        $("#results").append("<li><label type=text id=" + data[i].Id + ">" + data[i].Name + "</label></li><div id=imagesList" + data[i].Id + "></div>");
                    }
                    getImagesForLocations(locationIds);
                },

                error: function (jqXHR, status) {
                    alert('fail' + status.code);
                }
            });
        });
        function getImagesForLocations(locations) {

            var postData = JSON.stringify({ locations: locations });
            console.log(postData);
            $.ajax({
                type: "GET",
                url: "/api/Images/GetPhotosForLocations",
                data: { locations: locations },
                contentType: "application/json; charset=utf-8",
                crossDomain: true,
                dataType: "json",
                success: function (data, status) {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        $("#imagesList" + data[i].LocationId)
                            .prepend("<img id='" + data[i].PhotoId + "' src='" + data[i].PhotoUrl + "' />");
                    }
                },

                error: function (jqXHR, status) {
                    alert('fail' + status.code);
                }
            });
        }
    });
</script>